# Chat Service  
PORT=3003
HOST=0.0.0.0
DATABASE_URL = file:./db/chat.db
SERVICE_NAME = chat-service

LOGSTASH_PORT = 5044
LOG_LEVEL = info


## DOCKER İLE KALDIRIRKEN AÇ
LOGSTASH_HOST = logstash
REDIS_HOST = redis
USER_SERVICE = http://user-service:3002